body{
    background-color: lightblue;
    text_align: center;
    font-size: 20px;
}

button{
    width: 150px;
    padding:10px;
    cursor: pointer;
    position: relative;
    
}


